{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "react-app",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "prettier",
    "react",
    "@typescript-eslint"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-key": "error",
    "import/first": "error",
    "import/no-mutable-exports": "error",
    "import/no-duplicates": "error",
    "import/order": [
      1,
      {
        "pathGroups": [
          {
            "pattern": "@components/*",
            "group": "parent"
          },
          {
            "pattern": "@hooks/*",
            "group": "parent"
          },
          {
            "pattern": "@utils/*",
            "group": "parent"
          },
          {
            "pattern": "@containers/*",
            "group": "parent"
          }
        ],
        "pathGroupsExcludedImportTypes": [],
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "newlines-between": "always"
      }
    ],
    "prettier/prettier": [
      "error"
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "no-console": "warn",
    "no-debugger": "error",
    "no-use-before-define": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true
      }
    ],
    "prefer-const": [
      "error",
      {
        "destructuring": "all"
      }
    ]
  }
}